git+ssh://git@bitbucket.org/smartwatt/ds-python-toolkit.git@feature/SW-1736-add-initial-version-of-productml#subdirectory=src/mltools_package
numpy==1.23.4
pandas==1.5.1
plotly==5.11.0
streamlit==1.15.2
